{% extends 'base.html.twig' %}


{% block login_form %}
<div class="login-form login-form-mock">
	{# remove login form from header #}
</div>
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div>You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a></div>
	{% endif %}
		
	<h1 class="sign-in-header">{{ "login.form.sign_in"|trans }}</h1>
	<form class="sign-in-form" method="post">
		<label><input type="text" name="name" placeholder="{{ 'login.form.name'|trans }}" required/></label>
		<label><input type="password" name ="password" placeholder="{{ 'login.form.password'|trans }}" required /></label>
		<label><input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" /></label>
		
		<label><input type="submit" value="{{ 'login.form.continue'|trans }}" /></label>
		<label><input type="checkbox" name="_remember_me"><span>{{ "login.form.remember_me"|trans}}</span></label>
	</form>
{% endblock %}

