{% if is_granted("ROLE_USER") %}
<div class="header-login-account">
	<div class="header-login-account-name">{{ app.user.name }}</div>
	<a class="header-login-account-logout" href="{{ path("logout") }}">
		<input type="button" value="{{ 'login.form.logout'|trans }}"/>
	</a>
</div>
{% else %}
<form class="header-login-form" method="post" action="{{ path("login") }}">
	<label><input type="text" name="name" placeholder="{{ 'login.form.name'|trans }}" required/></label>
	<label><input type="password" name ="password" placeholder="{{ 'login.form.password'|trans }}" required /></label>
	<label><input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" /></label>
	
	<label><input type="submit" value="{{ 'login.form.continue'|trans }}" /></label>
	<label><input type="checkbox" name="_remember_me"><span>{{ "login.form.remember_me"|trans}}</span></label>
</form>
{% endif %}