<section class="offers-list">
{% for offer in offers %}
	{# css class should be managed dynamically #}
	{# what if description become to long and overlay image? #}
	{# add slider to manage too many offer in one row, do we want slider? #}
	{% set css_class = "offers-css-" ~ offer.offerId %}
	{% set offer_image = "build/images/offer/offer-id-" ~ offer.offerId ~ ".png" %}
	<a class="offers-list-one {{css_class}}" href="{{ path('offer', {slug: offer.slug}) }}" >
		<h1 class="offers-list-header">{{ offer.title }}</h1>
		<p class="offers-list-desc">{{ offer.description|slice(0, 300) ~ '...' }}</p>
		<img class="offers-list-image" src="{{ asset(offer_image) }}" />
	</a>
{% endfor %}
</section>