<!DOCTYPE html>
<html>
<head>	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link href="{{ asset("css/base.css") }}" rel="stylesheet"/>
	{% endblock %}
</head>
<body>
	{% block header %}
	<header>
	<a href="{{ path('homepage') }}">
		<img class="logo" src="{{ asset('img/logo.png') }}" alt=""/>
	</a>
	{% set route = app.request.get("_route") %}
	{% set params = app.request.get("_route_params") %}
	{# TODO this not work properly, because entire url will be different not only _locale #}
	<div class="header-langauge-switch">
		<a href="{{ path(route, params|merge({_locale: "es"})) }}">es</a>
		<a href="{{ path(route, params|merge({_locale: "pl"})) }}">pl</a>
		<a href="{{ path(route, params|merge({_locale: "en"})) }}">en</a>
	</div>
	</header>
	{% endblock %}
	
	
	{% block nav %}
	<nav>
		<a>Main Page</a>
		<a>Main Page</a>
		<a>Main Page</a>
		<a>Main Page</a>
		<a>Main Page</a>
	</nav>
	{% endblock %}
	
	
	{% block body %}{% endblock %}
	<footer>
		Footer
	</footer>
	{% block javascripts %}{% endblock %}
</body>
</html>
