<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link href="{{ asset("css/normalize.css") }}" rel="stylesheet"/>
		<link href="{{ asset("css/form.css") }}" rel="stylesheet"/>
		<link href="{{ asset("css/base.css") }}" rel="stylesheet"/>
	{% endblock %}
</head>
<body>
<header class="header">
{% block header %}
	<a class="header-logo" href="{{ path('homepage') }}">
		<img class="header-img" src="{{ asset('img/logo.png') }}" alt=""/>
	</a>
	<div class="header-switch">
		{# TODO this not work properly, because entire url will be different not only _locale #}
		{% set route = app.request.get("_route") %}
		{% set params = app.request.get("_route_params") %}
		{% set is_spanish_active = app.request.locale == "es" ? "active" : "" %}
		{% set is_polish_active = app.request.locale == "pl" ? "active" : "" %}
		{% set is_english_active = app.request.locale == "en" ? "active" : "" %}
		<div class="header-switch-row {{ is_spanish_active }}">
			<a href="{{ path(route, params|merge({_locale: "es"})) }}">Español <span class="header-switch-flag flag flag-es"></span></a>
		</div>
		<div class="header-switch-row {{ is_polish_active }}">
			<a href="{{ path(route, params|merge({_locale: "pl"})) }}">Polski <span class="header-switch-flag flag flag-pl"></span><a>
		</div>
		<div class="header-switch-row {{ is_english_active }}">
			<a href="{{ path(route, params|merge({_locale: "en"})) }}">English <span class="header-switch-flag flag flag-en"></span></a>
		</div>
	</div>
	{% block login_form %}
		{% include("/fragment/login.html.twig") %}
	{% endblock %}
{% endblock %}
</header>

<nav class="nav">
{% block nav %}
	{# TODO find a better way to do it, use some twig function? write own? #}
	{% set is_room_active = app.request.get("_route") == "rooms" ? "active" : "" %}
	{% set is_conferences_active = app.request.get("_route") == "conferences" ? "active" : "" %}
	{% set is_recreation_active = app.request.get("_route") == "recreation" ? "active" : "" %}
	{% set is_gallery_active = app.request.get("_route") == "gallery" ? "active" : "" %}
	{% set is_contact_active = app.request.get("_route") == "contact" ? "active" : "" %}
	<a class="nav-link {{ is_room_active }}" href="{{ path("rooms") }}">
		<div class="nav-main">{{ "nav.rooms"|trans}}</div>
		<div class="nav-sub">{{ "nav.standards"|trans }} &amp;  {{ "nav.prices"|trans}}</div>
	</a>
	<a class="nav-link {{ is_conferences_active }}" href="{{ path("conferences") }}">
		<div class="nav-main">{{ "nav.conferences"|trans }}</div>
		<div class="nav-sub">{{ "nav.infrastructure"|trans }} &amp; {{ "nav.availability"|trans }}</div>
	</a>
	<a class="nav-link {{ is_recreation_active }}" href="{{ path("recreation") }}">
		<div class="nav-main">{{ "nav.recreation"|trans }}</div>
		<div class="nav-sub">{{ "nav.spa"|trans }} &amp; {{ "nav.pool"|trans }}</div>
	</a>
	<a class="nav-link {{ is_gallery_active }}" href="{{ path("gallery") }}">
		<div class="nav-main">{{ "nav.gallery"|trans }}</div>
		<div class="nav-sub">{{ "nav.interior"|trans }} &amp; {{ "nav.atmosphere"|trans }}</div>
	</a>
	<a class="nav-link {{ is_contact_active }}" href="{{ path("contact") }}">
		<div class="nav-main">{{ "nav.contact"|trans }}</div>
		<div class="nav-sub">{{ "nav.map"|trans }} &amp; {{ "nav.phone"|trans }}</div>
	</a>
{% endblock %}
</nav>

<main class="main">
	{% block body %} {% endblock %}
</main>

<footer class="footer">
	<section class="footer-left">
		<div>Hotel NoName</div>
		<div>© 2021</div>
	</section>
	<img class="footer-logo" src="{{ asset('img/logo_small.png') }}" alt=""/>
	<section class="footer-right">
		<div>ul. Ulica 23</div>
		<div>00-000 Kraków, Polska</div>
		<div>tel. +48 00 000 00 00</div>
	</section>
</footer>
{% block javascripts %}{% endblock %}

</body>
</html>